p {
    font-family: Sigmar;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px
}


.me {
color:darkblue;
background-color:blue;
text-align:center;
padding-top: 0px;
padding-bottom: 0px;
font-size:30px;
border-radius:30px;
}

.heading {
    text-align: center;
    font-family: Quicksand;
}

.reviews {
text-align:center;
}

.aztec {
background-image: url(/images/aztec_1.jpeg);
}